a {
    color: darkgreen;
    text-align: justify;
    font-size: 14pt;
    font-family: "Times New Roman", serif;
}

body {
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #232729;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer p{
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 24pt;
}

header{
    text-align: center;
    /*как можно только флексы выравнить по ширине экрана без редактирования хедера*/
}

header nav ul li {
    justify-content: space-around; /*почему не работает*/
    display: inline-flex;
    margin: 10px;
    padding: 10px;
    font-family: "Comic Sans MS", serif;
    background-color: #2B292F;
    border-radius: 15px;
    border: 1px solid #000000;
}

p {
    text-align: justify;
    font-size: 14pt;
    font-family: "Times New Roman", serif;
}

textarea{
    background-color: #232729;
    text-align: justify;
    font-size: 14pt;
    font-family: "Times New Roman", serif;
}
