.regular-text__exile {
    color: darkgreen;
    text-align: justify;
    font-size: 14pt;
    font-family: "Times New Roman", serif;
}

body {
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #232729;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
    text-align: center;
    font-size: 24pt;
}

.regular-text {
    text-align: justify;
    font-size: 14pt;
    font-family: "Times New Roman", serif;
}

.user-text__input{
    background-color: #232729;
    color: blue;
    text-align: justify;
    font-size: 12pt;
    font-family: "Comic Sans MS", serif;
}
